* {
  box-sizing: border-box;
}
img {
  width: 350px;
  height: 233px;
}
input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  outline: none;
}
button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;

  margin-left: -5px;
}
.search-form {
  display: flex;
  justify-content: center;

  background-color: deepskyblue;
  padding: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.33%;
  max-width: 100%;
  padding: 20px 0 20px 0;
  width: auto;
  gap: 20px;
}
.photo-card {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  margin: 0 auto;
}
.info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hidden {
  opacity: 0;
}
.load-more {
  margin: 0 auto;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}
